.numero {
    margin-left: 15px;
}

#numero1 {
    width: 30px;
    margin-left: 5px;
}

#numero2 {
    width: 30px;
    margin-left: 5px;
}

.botao {
    margin-left: 60px;
    background-color:chocolate;
}